# Node modules
node_modules/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output from build tools
dist/
build/

# Cache
.cache/
.vite/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Bruno folder
bruno/

# CSS outputs (optional if generated)
src/output.css
